{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{{ 'section-custom-order-page.css' | asset_url | stylesheet_tag }}

{%- style -%}


  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding">


<div class="grid grid--1-col grid--2-col-tablet">

<div class="grid__item">


<h1 class="h2 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  {{ page.title | escape }}
</h1>


<div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  {{ page.content }}
</div>


<a href="#" class="button button--primary" id="startBtn">
           <span class="arrow"> {{ 'arrow.svg'  | asset_url | img_tag }}  </span>       <span class="button-text">Start Now</span>
                </a>



</div>

<div class="grid__item">

<div id="screen-1">


<ul>

  <li><p>Complete this form and tell us about your group, your design ideas and your travel dates.</p></li>

  <li><p>We will create your design on the shirt style and color you choose and send mockups to you for approval or edits.</p></li>

  <li><p>Once approved, we will create a unique order page for your group. You will be able to place either a bulk order for your group or have each traveler purchase individually.</p></li>

</ul>


</div>


<div id="screen-2">

</div>
</div>


</div>



</div>

{% schema %}
{
  "name": "Custom Group Order",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}

{% style %}
  .hideScreen{ display:none!important; }
{% endstyle %}

{% javascript %}
 const startBtn = document.querySelector('#startBtn');

 const screens = document.querySelectorAll('.screen');

 startBtn.addEventListener('click', function(){

 screens.forEach(screen=>{ 
  
 if(screen.classList.contains('hideScreen')){

  screen.classList.remove('hideScreen');

const screen_2 = document.querySelector('#screen-2');

const formBuilder = document.createElement('div');

formBuilder.className = 'globo-formbuilder'; // Use className instead of class

formBuilder.textContent = "sdf";

//formBuilder.setAttribute("data-id", "MTUzMzY=");

screen_2.appendChild(formBuilder);

 }

 else{ screen.classList.add('hideScreen') }


})

 })

{% endjavascript %}
