{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{{ 'section-custom-order-page.css' | asset_url | stylesheet_tag }}

{%- style -%}

  .screen {
    opacity: 1;
  }
  .hideScreen {
    opacity: 0 !important;
    height: 0;
    overflow:hidden;
  }

  .arrow {
    display: inline-block !important;
  }

  /* .globo-form-app .panels { min-height:358px}  */

  #shopify-section-{{ section.id }}{background:{{ '#F7F6EF' }};}

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    
   
  }

  .travel-instruction{list-style: none;
   
    padding: 0;}

    .travel-instruction li{background: white;
    padding: 1.6rem 2.4rem;
    margin: 1.6rem 0;
    color: #030303;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
  display:flex;
  border-radius: 4px;
border: 1px solid #030303;
}

.globo-form-id-15336 .globo-form-app{max-width: 640px; width:100%; 
padding: 32px;
border-radius: 32px;
border: 1px solid #030303;
background: #FFF;
padding-top: 90px
}

.globo-form-app .step__content {
   
    margin: 6px 0;
}

.globo-form-app .panel{}

.globo-form-control{padding: 0 12px;}

.globo-form-control .heading-title{

color: #030303;
font-family: Oswald, sans-serif;
font-size: 24px;

font-weight: 700;



}

.globo-form-id-15336 .globo-form-app .globo-form-control label.globo-label span.label-content{

color: #030303;
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; 

}

.globo-form-control input, textarea.classic-input 
{

    box-shadow: none;
    padding: 10px 0;
    background: transparent;
    border-bottom: solid 1px #030303;
    border-radius: 0;
    max-width: 276px;


}

.globo-form-app .steps{    margin-bottom: 40px; }


textarea.classic-input { max-width:100%; }

  
  .travel-instruction li span{ padding:0 4px;  }

  .globo-form-control .heading-title, .globo-form-control p{line-height:normal; }

  .globo-form-id-15336 .globo-form-app .footer button {

        padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 46px;
   
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .globo-form-id-15336 .globo-form-app .footer button.submit{  background: #2DCDD5;
    color: #FFF; } 

  @media screen and (min-width: 750px) {
     
    
   .page-width .grid .custom-grid-40-60 {
  max-width: 40%;
}

.page-width .grid .custom-grid-40-60.second-item {
  max-width: 60%;
}


.grid--2-col-tablet .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}







<div class="page-width section-{{ section.id }}-padding">


  <div class="grid grid--1-col grid--2-col-tablet">

    <div class="grid__item custom-grid-40-60">


      <h1 class="h2 title {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ page.title | escape }}
      </h1>


      <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ page.content }}
      </div>


      <a
        href="#"
        class="button button--primary my-24"
        id="startBtn">
        <span class="arrow">
          {{ 'arrow.svg' | asset_url | img_tag }}
        </span>
        <span class="button-text">Start Now</span>
      </a>



    </div>

    <div class="grid__item custom-grid-40-60 second-item">

      <div id="screen-1" class="screen">


        <ul class="travel-instruction title">

          <li>
            <span>1.</span><span>Complete this form and tell us about your group, your design ideas and your travel dates.</span>
          </li>

          <li>
            <span>2.</span><span>We will create your design on the shirt style and color you choose and send mockups to you for approval or edits.</span>
          </li>

          <li>
            <span>3.</span> <span>Once approved, we will create a unique order page for your group. You will be able to place either a bulk order for your group or have each traveler purchase individually.</span>
          </li>

        </ul>


      </div>


      <div id="screen-2" class="screen hideScreen">

        <div class="globo-formbuilder" data-id="MTUzMzY="></div>

      </div>
    </div>


  </div>



</div>


<script>

/*

setTimeout(()=>{

const moveIn = document.querySelectorAll('.movingIn ');
  
cont getRealHeight = moveIn[0].clientHeight;




}, 2000)


*/

const screen_2 = document.querySelector('#screen-2');

  const screens = document.querySelectorAll('.screen');
  const startBtn = document.querySelector('#startBtn');

  function handleScreen() {
    screens.forEach(screen => {
      screen.classList.toggle('hideScreen');
      if (screen.id === 'screen-2' && !screen.classList.contains('hideScreen')) {

        
      this.style.display = 'none';
      
      }
    });
  }

  startBtn.addEventListener('click', handleScreen);


</script>

{% schema %}
  {
    "name": "Custom Group Order",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}